<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}</title>
    <link href="{{ site.url }}/code/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ site.url }}/code/css/print.css" type="text/css" media="print" />
    <!--This is for social icons -->
    <link href="{{ site.url }}/code/webfonts/ss-social-regular.css" rel="stylesheet"  type="text/css" />
    <link rel="shortcut icon" href="{{site.url}}/assets/imgs/site/favicon.ico" type="image/x-icon" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ site.url }}/code/js/custom.js"></script>
    <!--
    /**
     * @license
     * MyFonts Webfont Build ID 2729975, 2014-01-21T14:25:57-0500
     *
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are
     * explicitly restricted from using the Licensed Webfonts(s).
     *
     * You may obtain a valid license at the URLs below.
     *
     * Webfont: Trade Gothic Condensed No. 18 by Linotype
     * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/condensed-no-18-63882/
     * Copyright: Part of the digitally encoded machine readable outline data for producing
     * the Typefaces provided is copyrighted (c) 1989, 1992, 2003 Linotype Library GmbH,
     * www.linotype.com. All rights reserved. This software is the property of Linotype
     * Library GmbH, and
     * Licensed pageviews: 500,000
     *
     *
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=2729975
     *
     * © 2014 MyFonts Inc
    */

    -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/code/webfonts/MyFontsWebfontsKit/MyFontsWebfontsKit.css">
  </head>
  <body>
    <div class="container">
      <img class="print-logo" src="{{ site.url }}/assets/imgs/site/eimerstahl_logo.png">
      <header>
        <!-- navigation -->
        <nav class="navigation">
          <div class="navigation__header">
            <!-- Logo -->
            <div class="l-column1">
              <a class="header__logo" href="{{ site.url }}/"><img src="{{ site.url }}/assets/imgs/site/eimerstahl_logo.png"></a>
            </div>
            <!-- Navigation Icon -->
            <a class="navigation-button is-mobile" href="#"><img id="menu-icon" src="{{ site.url }}/assets/imgs/site/navigation-icon.png"></a>
          </div>
          <div class="l-navigation">
            <ul class="navigation-list" style="background-image:url({{ site.url }}/assets/imgs/site/white-background.png);">
              <li id="firm" class="navigation-list__item"><a href="{{ site.url }}/firm" >Our Firm</a></li>
              <li id="lawyers" class="navigation-list__item"><a href="{{ site.url }}/lawyers" >Our Lawyers</a></li>
              <li id="clients" class="navigation-list__item"><a href="{{ site.url }}/clients" >Our Clients</a></li>
              <li id="contact" class="navigation-list__item" ><a href="{{ site.url }}/contact">Contact Us</a></li>
              <li id="media" class="navigation-list__item"><a href="{{ site.url }}/news" >News</a>
              </li>
            </ul>
          </div>
       </nav>
      </header>
    </div>
    <div>
       {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
    <footer></footer>
  </body>
  <!-- build test 22 -->
</html>
